################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/DRRCore.Services.ApiWeb/obj/DRRCore.Services.ApiWeb.csproj.nuget.dgspec.json
/DRRCore.Application.DTO/obj/Debug/net6.0/DRRCore.Application.DTO.assets.cache
/DRRCore.Application.DTO/obj/DRRCore.Application.DTO.csproj.nuget.dgspec.json
/DRRCore.Application.DTO/obj/DRRCore.Application.DTO.csproj.nuget.g.props
/DRRCore.Application.DTO/obj/DRRCore.Application.DTO.csproj.nuget.g.targets
/DRRCore.Application.DTO/obj/project.assets.json
/DRRCore.Application.DTO/obj/project.nuget.cache
/DRRCore.Application.Interfaces/obj/Debug/net6.0/DRRCore.Application.Interfaces.assets.cache
/DRRCore.Application.Interfaces/obj/DRRCore.Application.Interfaces.csproj.nuget.dgspec.json
/DRRCore.Application.Interfaces/obj/DRRCore.Application.Interfaces.csproj.nuget.g.props
/DRRCore.Application.Interfaces/obj/DRRCore.Application.Interfaces.csproj.nuget.g.targets
/DRRCore.Application.Interfaces/obj/project.assets.json
/DRRCore.Application.Interfaces/obj/Debug/net6.0/DRRCore.Application.Interfaces.csproj.AssemblyReference.cache
/DRRCore.Application.Interfaces/obj/project.nuget.cache
/DRRCore.Application.Main/obj/Debug/net6.0/DRRCore.Application.Main.assets.cache
/DRRCore.Application.Main/obj/Debug/net6.0/DRRCore.Application.Main.csproj.AssemblyReference.cache
/DRRCore.Application.Main/obj/DRRCore.Application.Main.csproj.nuget.dgspec.json
/DRRCore.Application.Main/obj/DRRCore.Application.Main.csproj.nuget.g.props
/DRRCore.Application.Main/obj/DRRCore.Application.Main.csproj.nuget.g.targets
/DRRCore.Application.Main/obj/project.assets.json
/DRRCore.Application.Main/obj/project.nuget.cache
/DRRCore.Domain.Entities/obj/Debug/net6.0/DRRCore.Domain.Entities.assets.cache
/DRRCore.Domain.Entities/obj/Debug/net6.0/DRRCore.Domain.Entities.csproj.AssemblyReference.cache
/DRRCore.Domain.Entities/obj/DRRCore.Domain.Entities.csproj.nuget.dgspec.json
/DRRCore.Domain.Entities/obj/DRRCore.Domain.Entities.csproj.nuget.g.props
/DRRCore.Domain.Entities/obj/DRRCore.Domain.Entities.csproj.nuget.g.targets
/DRRCore.Domain.Entities/obj/project.assets.json
/DRRCore.Domain.Entities/obj/project.nuget.cache
/DRRCore.Domain.Interfaces/obj/Debug/net6.0/DRRCore.Domain.Interfaces.assets.cache
/DRRCore.Domain.Interfaces/obj/Debug/net6.0/DRRCore.Domain.Interfaces.csproj.AssemblyReference.cache
/DRRCore.Domain.Interfaces/obj/DRRCore.Domain.Interfaces.csproj.nuget.dgspec.json
/DRRCore.Domain.Interfaces/obj/DRRCore.Domain.Interfaces.csproj.nuget.g.props
/DRRCore.Domain.Interfaces/obj/DRRCore.Domain.Interfaces.csproj.nuget.g.targets
/DRRCore.Domain.Interfaces/obj/project.assets.json
/DRRCore.Domain.Interfaces/obj/project.nuget.cache
/DRRCore.Domain.Main/obj/Debug/net6.0/DRRCore.Domain.Main.assets.cache
/DRRCore.Domain.Main/obj/Debug/net6.0/DRRCore.Domain.Main.csproj.AssemblyReference.cache
/DRRCore.Domain.Main/obj/DRRCore.Domain.Main.csproj.nuget.dgspec.json
/DRRCore.Domain.Main/obj/DRRCore.Domain.Main.csproj.nuget.g.props
/DRRCore.Domain.Main/obj/DRRCore.Domain.Main.csproj.nuget.g.targets
/DRRCore.Domain.Main/obj/project.assets.json
/DRRCore.Domain.Main/obj/project.nuget.cache
/DRRCore.Infraestructure.Configuration/obj/Debug/net6.0/DRRCore.Infraestructure.Configuration.assets.cache
/DRRCore.Infraestructure.Configuration/obj/Debug/net6.0/DRRCore.Infraestructure.Configuration.csproj.AssemblyReference.cache
/DRRCore.Infraestructure.Configuration/obj/DRRCore.Infraestructure.Configuration.csproj.nuget.dgspec.json
/DRRCore.Infraestructure.Configuration/obj/DRRCore.Infraestructure.Configuration.csproj.nuget.g.props
/DRRCore.Infraestructure.Configuration/obj/DRRCore.Infraestructure.Configuration.csproj.nuget.g.targets
/DRRCore.Infraestructure.Configuration/obj/project.assets.json
/DRRCore.Infraestructure.Configuration/obj/project.nuget.cache
/DRRCore.Infraestructure.Interfaces/obj/Debug/net6.0/DRRCore.Infraestructure.Interfaces.assets.cache
/DRRCore.Infraestructure.Interfaces/obj/Debug/net6.0/DRRCore.Infraestructure.Interfaces.csproj.AssemblyReference.cache
/DRRCore.Infraestructure.Interfaces/obj/DRRCore.Infraestructure.Interfaces.csproj.nuget.dgspec.json
/DRRCore.Infraestructure.Interfaces/obj/DRRCore.Infraestructure.Interfaces.csproj.nuget.g.props
/DRRCore.Infraestructure.Interfaces/obj/DRRCore.Infraestructure.Interfaces.csproj.nuget.g.targets
/DRRCore.Infraestructure.Interfaces/obj/project.assets.json
/DRRCore.Infraestructure.Interfaces/obj/project.nuget.cache
/DRRCore.Infraestructure.Repository/obj/Debug/net6.0/DRRCore.Infraestructure.Repository.assets.cache
/DRRCore.Infraestructure.Repository/obj/Debug/net6.0/DRRCore.Infraestructure.Repository.csproj.AssemblyReference.cache
/DRRCore.Infraestructure.Repository/obj/DRRCore.Infraestructure.Repository.csproj.nuget.dgspec.json
/DRRCore.Infraestructure.Repository/obj/DRRCore.Infraestructure.Repository.csproj.nuget.g.props
/DRRCore.Infraestructure.Repository/obj/DRRCore.Infraestructure.Repository.csproj.nuget.g.targets
/DRRCore.Infraestructure.Repository/obj/project.assets.json
/DRRCore.Infraestructure.Repository/obj/project.nuget.cache
/DRRCore.Services.ApiCore/obj/Debug/net6.0/DRRCore.Services.ApiCore.assets.cache
/DRRCore.Services.ApiCore/obj/Debug/net6.0/DRRCore.Services.ApiCore.csproj.AssemblyReference.cache
/DRRCore.Services.ApiCore/obj/DRRCore.Services.ApiCore.csproj.nuget.dgspec.json
/DRRCore.Services.ApiCore/obj/DRRCore.Services.ApiCore.csproj.nuget.g.props
/DRRCore.Services.ApiCore/obj/DRRCore.Services.ApiCore.csproj.nuget.g.targets
/DRRCore.Services.ApiCore/obj/project.assets.json
/DRRCore.Services.ApiCore/obj/project.nuget.cache
/DRRCore.Services.ApiEmail/obj/Debug/net6.0/DRRCore.Services.ApiEmail.assets.cache
/DRRCore.Services.ApiEmail/obj/Debug/net6.0/DRRCore.Services.ApiEmail.csproj.AssemblyReference.cache
/DRRCore.Services.ApiEmail/obj/DRRCore.Services.ApiEmail.csproj.nuget.dgspec.json
/DRRCore.Services.ApiEmail/obj/DRRCore.Services.ApiEmail.csproj.nuget.g.props
/DRRCore.Services.ApiEmail/obj/DRRCore.Services.ApiEmail.csproj.nuget.g.targets
/DRRCore.Services.ApiEmail/obj/project.assets.json
/DRRCore.Services.ApiEmail/obj/project.nuget.cache
/DRRCore.Services.ApiWeb/obj/Debug/net6.0/DRRCore.Services.ApiWeb.assets.cache
/DRRCore.Services.ApiWeb/obj/Debug/net6.0/DRRCore.Services.ApiWeb.csproj.AssemblyReference.cache
/DRRCore.Services.ApiWeb/obj/DRRCore.Services.ApiWeb.csproj.nuget.g.props
/DRRCore.Services.ApiWeb/obj/DRRCore.Services.ApiWeb.csproj.nuget.g.targets
/DRRCore.Services.ApiWeb/obj/project.assets.json
/DRRCore.Services.ApiWeb/obj/project.nuget.cache
/DRRCore.Transversal.Common/obj/Debug/net6.0/DRRCore.Transversal.Common.assets.cache
/DRRCore.Transversal.Common/obj/Debug/net6.0/DRRCore.Transversal.Common.csproj.AssemblyReference.cache
/DRRCore.Transversal.Common/obj/DRRCore.Transversal.Common.csproj.nuget.dgspec.json
/DRRCore.Transversal.Common/obj/DRRCore.Transversal.Common.csproj.nuget.g.props
/DRRCore.Transversal.Common/obj/DRRCore.Transversal.Common.csproj.nuget.g.targets
/DRRCore.Transversal.Common/obj/project.assets.json
/DRRCore.Transversal.Common/obj/project.nuget.cache
/DRRCore.Transversal.Mapper/obj/Debug/net6.0/DRRCore.Transversal.Mapper.assets.cache
/DRRCore.Transversal.Mapper/obj/Debug/net6.0/DRRCore.Transversal.Mapper.csproj.AssemblyReference.cache
/DRRCore.Transversal.Mapper/obj/DRRCore.Transversal.Mapper.csproj.nuget.dgspec.json
/DRRCore.Transversal.Mapper/obj/DRRCore.Transversal.Mapper.csproj.nuget.g.props
/DRRCore.Transversal.Mapper/obj/DRRCore.Transversal.Mapper.csproj.nuget.g.targets
/DRRCore.Transversal.Mapper/obj/project.assets.json
/DRRCore.Transversal.Mapper/obj/project.nuget.cache
/.vs/DRRCore/FileContentIndex/13cf3ca7-946d-43d7-8527-925c92fd0fd1.vsidx
*.lock
*.vsidx
*.wsuo
/.vs/slnx.sqlite
